<div class="">
    <form [formGroup]="usuarioForm">
      <div class="">
        <input type="text" formControlName="nombreUsuario" name="nombreUsuario" id="">
  
        <select formControlName="idEstado" (change)="selectEstado($event)">
          <option *ngFor="let a of estados" [value]="a.idEstado"> {{a.nombreEstado}}</option>
        </select>
  
        <button type="button" (click)="crearUsuario()"> {{nombreBoton}}</button>
      </div>
      <div class="">
        <table>
          <tr>
            <th>Id</th>
            <th>Nombre Usuario</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
          <tr *ngFor="let item of usuarios">
            <th>{{item.idUsuarios}}</th>
            <th>{{item.nombreUsuario}}</th>
            <th>{{item.nombreEstado}}</th>
            <th>
              <button type="button"  (click)="modificar(item)">Modificar</button>
              <button type="button" (click)="eliminar(item.idUsuarios!=undefined ? item.idUsuarios:0 )">Eliminar</button>
            </th>
          </tr>
  
  
        </table>
  
      </div>
    </form>
  </div>