<div>
  <form [formGroup]="departamentoForm">
    <div>
      <input type="text" placeholder="Ingrese el dato..." formControlName="Nombre" >
      <button type="button" (keyup.enter)="agregar()" (click)="agregar()">{{nombreBoton}}</button>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of departamentos">
            <th>{{a.idDepartamento}}</th>
            <th>{{a.nombre}}</th>
            <th>
              <div>
                <button type="button" (click)="modificar(a)"> Modificar</button>
                <button type="button" (click)="eliminar(a)"> Eliminar</button>
              </div>
            </th>

          </tr>
        </tbody>
      </table>
    </div>
  </form>

</div>